<!DOCTYPE html>
	<head>
		<script src="processing.js" type="text/javascript"></script>
		@@scripts@@
	</head>
	<body>
		<div id="content">
			<div>
				<canvas id="@@id@@" data-processing-sources="@@sketch@@.pde" 
						width="@@width@@" height="@@height@@" style="display:none;" >
					<p>Your browser does not support the canvas tag.</p>
					<!-- Note: you can put any alternative content here. -->
				</canvas>
				<noscript>
					<p>JavaScript is required to view the contents of this page.</p>
				</noscript>
	    	</div>
			<div id="proverb"></div>
		</div>
	</body>
</html>
